<div class="header">
    nerdle
    <a class ="teamname">by yorm</a>
</div>

<div class = "grid-container">
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>
    <grid class = "grid-item"></grid>

</div>