<div class="page">
    <div class = "left-side"></div>

    <div class="middle-content">
        <div class="header">
            <div class="title">
                nerdle
            </div>
            <a class ="teamname">by yorm</a>
            <div class="theme">
                <button class="icon-button-large" mat-icon-button (click) = "toggleTheme()"><mat-icon>wb_sunny</mat-icon></button>
            </div>
        </div>
        
        <div class = "main-content">
            <div class = "boxes">
                <ng-container *ngFor = "let item of boxes">
                    <div class = "parent-box">
                        <ng-container *ngFor="let innerItem of item">
                            <div [ngClass] ="innerItem.class">{{innerItem.key}}</div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
    
            <div class = "keyboard">
                <ng-container *ngFor="let item of keyboard">
                    <!-- Handle non-special keys -->
                    <ng-container *ngIf="item.key !== 'ENTER' && item.key !== 'BACKSPACE'">
                        <button mat-raised-button [ngClass]="item.class" (click)="regularChange(item.key)">
                            {{item.key}}
                        </button>
                    </ng-container>
                    <!-- Handle BACKSPACE -->
                    <ng-container *ngIf="item.key === 'BACKSPACE'">
                        <button mat-rai ssed-button [ngClass]="item.class" (click)="deleteChange(item.key)">
                            <mat-icon>backspace</mat-icon>
                        </button>
                    </ng-container>
                    <!-- Handle ENTER -->
                    <ng-container *ngIf="item.key === 'ENTER'">
                        <button mat-raised-button [ngClass]="item.class" (click)="enterChange(item.key)">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>
                    </ng-container>
                </ng-container>
            </div>
            
        </div>
    </div>
    <div class = "right-side">
        <app-kermit-component></app-kermit-component>
    </div>
</div>

